<!-- Selección Asistentes -->
<div>
  <h4 class="mt-4 text-[#545454] font-bold">Asistentes</h4>
  <div
    class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]"
  >
    <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
    <p class="ml-4 font-bold text-[#171717]">Andrés Ospina</p>
  </div>
  <div
    class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]"
  >
    <i class="fa-solid fa-user-group" style="color: #cfcfcf"></i>
    <p class="ml-4 font-bold text-[#171717]">Sebastián Corrales</p>
  </div>
  <div
    class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]"
  >
    <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
    <p class="ml-4 font-bold text-[#171717]">Alejandra Botero</p>
  </div>
  <div
    class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]"
  >
    <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
    <p class="ml-4 font-bold text-[#171717]">Dayana Orrego</p>
  </div>
  <div
    class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]"
  >
    <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
    <p class="ml-4 font-bold text-[#171717]">Dayana Orrego</p>
  </div>
  <!-- btn agregar personas -->
  <agregar-personas/>
  <div class="h-full mb-[17%]">
    <button
      class="rounded-md bg-[#16151E] w-[90%] h-[61.04px] flex justify-center items-center gap-4 mt-4 absolute bottom-[30px]"
      type="button" (click)="toggleSidebar()"
    >
      <i class="fa-solid fa-user-plus" style="color: #ffffff"></i>
      <p class="text-white">Agregar personas</p>
    </button>
  </div>   
</div>
