<!-- Selección Asistentes Desktop-->
<div #ocultarSideBar>
  <h4 class="mt-4 text-[#545454] font-bold">Asistentes</h4>
  <div *ngFor="let asistente of asistentes"
    class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]"
  >
    <i  class="fa-solid fa-user fa-lg" [style.color]="asistente.color"></i>
    <p class="ml-4 font-bold text-[#171717]">{{asistente.name}}</p>
  </div>
  <!-- btn agregar personas -->
  <agregar-personas/>
  <div class="h-full mb-[17%]">
    <button 
      class="rounded-md bg-[#16151E] w-[90%] h-[61.04px] flex justify-center items-center gap-4 mt-4 absolute bottom-[30px]"
      type="button" (click)="toggleSidebar()"
    >
      <i class="fa-solid fa-user-plus" style="color: #ffffff"></i>
      <p class="text-white">Agregar personas</p>
    </button>
  </div>   
</div>
