/**SideBar**/
.mat-drawer:not(.mat-drawer-side) {
	width: 80%;
	height: 100%;
	position: fixed;
}

.example-containerR {
    position: initial;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.containerR{
  position: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@media (max-width:768px){
	/* button.btn-right-movil {
		margin-top: -27px !important;
	} */

}  