<div class="mt-4 mb-4 h-[30vh]">
    <div class="wrapper p-4">
      <ol class="StepProgress">
        <li class="StepProgress-item done">
          <strong>Lectura y aprobación del orden del día</strong>
        </li>
        <li class="StepProgress-item done ">
          <strong>Instalación de la mesa directiva</strong>
        </li>
        <li class="StepProgress-item done ">
          <strong>Presentación de informes</strong>
        </li>
        <li class="StepProgress-item current">
          <strong>informes</strong>
          <ol>
            <li>a. De la gerencia</li>
            <li>b. De la junta social</li>
          </ol>
        </li>
        <li class="StepProgress-item current">
            <strong>Orden del día.pdf</strong>
          </li>
      </ol>
    </div>
    <!-- btn agregar personas -->
  <div class="mb-[17%]">
    <button
      class="rounded-md bg-[#16151E] w-[90%] h-[61.04px] flex justify-center items-center gap-4 mt-4 absolute bottom-[30px]"
      type="submit"
    >
      <i class="fa-solid fa-user-plus" style="color: #ffffff"></i>
      <p class="text-white">Agregar pregunta</p>
    </button>
  </div>
</div>