<!-- Selección Asistentes -->
<div>
    <h4 class="mt-4 text-[#545454] font-bold">Archivos adjuntos</h4>
    <div class="bg-white shadow-[0px 3px 20px #00000008]">
        <div
            class="flex items-center justify-between w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
            <div class="flex">
                <i class="fa-regular fa-file-pdf" style="color: #e13235;"></i>
                <p class="ml-4 font-bold text-[#171717]">Orden del día.pdf</p>
            </div>
            <div class="flex justify-end"><i class="fa-solid fa-eye" style="color: #e8e8e8;"></i></div>
        </div>
        <div
            class="flex items-center justify-between w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
            <div class="flex">
                <i class="fa-regular fa-file-pdf" style="color: #e13235;"></i>
                <p class="ml-4 font-bold text-[#171717]">Orden del día.pdf</p>
            </div>
            <div class="flex justify-end"><i class="fa-solid fa-eye" style="color: #e8e8e8;"></i></div>
        </div>
        <div
            class="flex items-center justify-between w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
            <div class="flex">
                <i class="fa-regular fa-file-pdf" style="color: #e13235;"></i>
                <p class="ml-4 font-bold text-[#171717]">Orden del día.pdf</p>
            </div>
            <div class="flex justify-end"><i class="fa-solid fa-eye" style="color: #e8e8e8;"></i></div>
        </div>
        <div
            class="flex items-center justify-between w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
            <div class="flex">
                <i class="fa-regular fa-file-pdf" style="color: #e13235;"></i>
                <p class="ml-4 font-bold text-[#171717]">Orden del día.pdf</p>
            </div>
            <div class="flex justify-end"><i class="fa-solid fa-eye" style="color: #e8e8e8;"></i></div>
        </div>
        <div
            class="flex items-center justify-between w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
            <div class="flex">
                <i class="fa-regular fa-file-pdf" style="color: #e13235;"></i>
                <p class="ml-4 font-bold text-[#171717]">Orden del día.pdf</p>
            </div>
            <div class="flex justify-end"><i class="fa-solid fa-eye" style="color: #e8e8e8;"></i></div>
        </div>
    </div>

    <!-- btn agregar personas -->
    <!-- <div class="h-full mb-[17%]">
      <button
        class="rounded-md bg-[#16151E] w-full h-[61.04px] flex justify-center items-center gap-4 mt-4"
        type="submit"
      >
      <i class="fa-solid fa-file-lines fa-lg" style="color: #fff"></i>
        <p class="text-white">Agregar archivos</p>
      </button>
    </div> -->
    <!-- <div class="h-full mb-[17%]">
        <div class="card  mt-6 absolute bottom-[30px] w-[90%]">
            <p-toast></p-toast>
            <p-fileUpload chooseIcon="0" mode="basic" chooseLabel="Agregar archivos.." name="arhivo-prueba[]"
                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize:number="1000000"
                (onUpload)="onUpload($event)">
            </p-fileUpload>
        </div>
    </div> -->
    <!-- btn agregar personas -->
  <div class="mb-[17%]">
    <button 
        id="btn-adjuntos"
      class="bg-[#16151E] w-[90%] h-[61.04px] flex justify-center items-center gap-4 mt-4 absolute bottom-[30px]"
      type="submit"
    >
    <i class="fa-regular fa-file-lines fa-lg" style="color: #ffffff;"></i>
      <p class="text-white">Agregar Archivos</p>
    </button>
  </div>
</div>