@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  font-family: var(--font-family);
}

.file-input {
    display: none;
  }

  /* Uso del pseudoElemento deep propio de Angular ::ng-deep */
  .p-element ::ng-deep .p-fileupload-choose:not(.p-disabled) {
    background: #000;
    color: #ffffff;
    border-color: #000;
  }
  .p-element ::ng-deep .p-ripple.p-element.p-button.p-component.p-fileupload-choose {
    width: 100%;
  }

  #btn-adjuntos {
    border-radius: 6px;
  }