/**SideBar**/
.mat-drawer:not(.mat-drawer-side) {
	width: 40%;
	position: fixed;
}

.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.container{
  position: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }