<!-- Left sideBar -->
<div id="leftSideBar" class="contenedor_principal flex w-full">
  <side-bar />
  <sidebar-desktop class="tablet:hidden" />
  <div class="w-full movil:pt-8">
    <!-- Columna Central y Columna de Asistentes -->
    <div
      id="colmnaCentralAsistentes"
      class="columnaCentralYzonaAsistentes flex w-auto"
    >
      <!-- Columna Central -->
      <div
        id="columnaCentral"
        class="w-full px-[58px] pt-[61px] laptop:px-[40px] tablet:px-[20px] movil:pt-[25px]"
      >
        <!-- Hero -->
        <div
          class="h-[97px] w-full bg-[#FBFBFB] border-2 border-[#CFCFCF] rounded-md flex justify-between p-[20px]"
        >
          <div class="text-[#545454] text-[17px] movil:text-[12px]">
            <p class="font-bold">ASAMBLEA GENERAL DE ACCIONISTAS</p>
            <p class="movil:text-[10px]">Garantías comunitarias</p>
          </div>
          <div>
            <p>Logo GC</p>
          </div>
        </div>
         
        <!-- BodyDashBoard -->
        <ng-container *ngIf="getRute() == '/adjuntos'; else asistentes">
          <body-dash-board></body-dash-board>
        </ng-container>
        
        <!-- BodyMeet -->
       <ng-template #asistentes>
        <body-meet></body-meet>
       </ng-template>

      </div>
      <!-- Columna Asistentes -->

      <sidebar-right-movil id="sideBarRight" class="-ml-6 movil:-mt-8" />
      <div
        class="px-8 w-[535px] laptop:w-[435px] h-[auto] bg-[#F5F5F5] tablet:hidden relative"
      >
        <!-- Fotos Perfil -->
        <div id="fotosPerfiles" class="mt-14">
          <div class="flex">
            <div class="w-full h-full">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-andrea-320.jpg)] rounded-tl-xl bg-cover bg-no-repeat bg-center"
              />
            </div>
            <div class="w-full h-full">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-photo-320.jpg)] bg-cover bg-no-repeat bg-center"
              />
            </div>
            <div class="w-full h-full">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-photo-3-320.jpg)] laptop:rounded-tr-xl bg-cover bg-no-repeat bg-center"
              />
            </div>
            <div class="w-full h-full laptop:hidden">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-photo-2-322.jpg)] rounded-tr-xl bg-cover bg-no-repeat bg-center"
              />
            </div>
          </div>
          <div class="flex">
            <div class="w-full h-full">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-photo-2-322.jpg)] rounded-bl-xl bg-cover bg-no-repeat bg-center"
              />
            </div>
            <div class="w-full h-full">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-photo-3-320.jpg)] bg-cover bg-no-repeat bg-center"
              />
            </div>
            <div class="w-full h-full">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-photo-320.jpg)] laptop:rounded-br-xl bg-cover bg-no-repeat bg-center"
              />
            </div>
            <div class="w-full h-full laptop:hidden">
              <img
                class="w-[125px] h-[128px] bg-[url(./img/pexels-andrea-320.jpg)] rounded-br-xl bg-cover bg-no-repeat bg-center"
              />
            </div>
          </div>
        </div>
        <!-- Iconos de Navegacion -->
        <navigator-iconos></navigator-iconos>
        <!-- ************ -->

        <router-outlet ></router-outlet>
        <!-- -********- -->
      </div>
    </div>
    <!-- Contenedor inferior Siguiente/Anterior -->
    <!-- Pregunta pendiente -->
    <div class="w-full h-auto bg-white border border-[#CFCFCF] pb-4">
      <div>
        <div
          class="border w-[341px] h-[45px] text-[13px] flex justify-center items-center ml-[230px] mt-[-10px] bg-white rounded-md border-[#CFCFCF] movil:w-full movil:m-0"
        >
          <p class="text-[#545454]">
            Tienes preguntas pendientes por contestar.
          </p>
        </div>
      </div>
      <div class="-mb-2 tablet:m-0">
        <p class="text-[15px] font-regular text-center tablet:mt-2">
          1. De elecciones y Escrutinios
        </p>
      </div>
      <div class="flex justify-center mt-2 movil:mt-4">
        <!-- btn Anteior -->
        <div class="w-[80%] laptop:w-[95%] flex justify-between">
          <button
            class="flex justify-center items-center border border-[#CFCFCf] w-[110px] h-[38px] gap-2 rounded-md"
          >
            <i
              class="fa-solid fa-chevron-left text-[12px]"
              style="color: #cfcfcf"
            ></i>
            <p class="text-[12px] text-[#CFCFCF] font-medium">Anterior</p>
            <div class="relative movil:hidden">
              <!-- led ping -->
              <span class="flex h-2 w-2">
                <span
                  class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#44A18F] opacity-75"
                ></span>
                <span
                  class="relative inline-flex rounded-full h-2 w-2 bg-[#44A18F]"
                ></span>
              </span>
            </div>
          </button>
          <!-- Lines de tiempo -->
          <div class="flex items-center gap-2 tablet:hidden">
            <hr
              class="border-2 border-[#85754E] w-[138px] laptop:w-[105px] rounded-md"
            />
            <hr
              class="border-2 border-[#85754E] w-[138px] laptop:w-[105px] rounded-md"
            />
            <hr
              class="border-2 border-[#E8C2C5] w-[138px] laptop:w-[105px] rounded-md"
            />
            <hr
              class="border-2 border-[#E8C2C5] w-[138px] laptop:w-[105px] rounded-md"
            />
            <!-- Icon Plus -->
            <i
              class="fa-solid fa-circle-plus fa-2xl"
              style="color: #857526"
            ></i>

            <hr
              class="border-2 border-[#CFCFCF] w-[138px] laptop:w-[105px] rounded-md"
            />
            <hr
              class="border-2 border-[#CFCFCF] w-[138px] laptop:w-[105px] rounded-md"
            />
            <hr
              class="border-2 border-[#CFCFCF] w-[138px] laptop:w-[105px] rounded-md"
            />
            <hr
              class="border-2 border-[#CFCFCF] w-[138px] laptop:w-[105px] rounded-md"
            />
          </div>
          <!-- btn Siguiente -->
          <button
            class="flex justify-center items-center border border-[#CFCFCf] w-[110px] h-[38px] gap-2 rounded-md"
          >
            <p class="text-[12px] text-[#CFCFCF] font-medium">Siguiente</p>
            <i
              class="fa-solid fa-chevron-right text-[12px]"
              style="color: #cfcfcf"
            ></i>
          </button>
        </div>
      </div>
      <!-- Agregar pregunta -->
      <div
        class="flex justify-center -ml-[24%] laptop:-ml-[35%] -mt-[10px] laptop:-mt-[8px] movil:m-0 movil:mt-4"
      >
        <div
          class="border w-[189px] h-[33px] text-[13px] flex justify-center items-center ml-[230px] movil:ml-[140px] movil:mt-4 bg-white rounded-md border-[#CFCFCF]"
        >
          <p class="text-[#545454]">Agregar pregunta</p>
        </div>
      </div>
    </div>
    <sidebar-right-movil class="hidden tablet:block" />
  </div>
</div>
