<mat-sidenav-container class="example-containerR md:hidden"
  [ngClass]="{'example-container': estiloActivoR, 'container': !estiloActivoR}">
  <mat-sidenav #sidenav [mode]="mode.value || 'over'" position="end">
    <div class="px-4 w-full h-screen bg-[#F5F5F5]">
      <!-- Fotos Perfil -->
      <div class="pt-8 flex justify-center">
        <div>
          <div class="flex justify-around">
            <div>
              <img
                class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-andrea-320.jpg)] rounded-tl-xl bg-auto bg-no-repeat bg-center" />
            </div>
            <div>
              <img class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-photo-320.jpg)] bg-auto bg-no-repeat bg-center" />
            </div>
            <div>
              <img
                class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-photo-3-320.jpg)] movil:rounded-tr-xl bg-auto bg-no-repeat bg-center" />
            </div>
            <div class="movil:hidden">
              <img
                class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-photo-3-320.jpg)] tablet:rounded-tr-xl bg-auto bg-no-repeat bg-center" />
            </div>
          </div>
          <div class="flex">
            <div>
              <img
                class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-photo-2-322.jpg)] rounded-bl-xl bg-auto bg-no-repeat bg-center" />
            </div>
            <div>
              <img class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-photo-3-320.jpg)] bg-auto bg-no-repeat bg-center" />
            </div>
            <div>
              <img
                class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-photo-320.jpg)] movil:rounded-br-xl bg-auto bg-no-repeat bg-center" />
            </div>
            <div class="movil:hidden">
              <img
                class="movil:w-[90px] movil:h-[110px] w-[140px] h-[155px] bg-[url(./img/pexels-photo-3-320.jpg)] tablet:rounded-br-xl bg-auto bg-no-repeat bg-center" />
            </div>
          </div>
        </div>
      </div>
      <!-- Icono Opciones -->
      <div class="flex justify-center gap-x-2 mt-4">
        <div class="rounded-lg movil:w-[97px] w-full h-[46px] bg-[#85754E] flex justify-center items-center">
          <i class="fa-solid fa-users fa-lg" style="color: #ffffff"></i>
        </div>
        <div class="rounded-lg movil:w-[97px] w-full h-[46px] bg-white flex justify-center items-center">
          <i class="fa-solid fa-bars fa-lg" style="color: #000000"></i>
        </div>
        <div class="rounded-lg movil:w-[97px] w-full h-[46px] bg-white flex justify-center items-center">
          <i class="fa-solid fa-file-lines fa-lg" style="color: #000000"></i>
        </div>
        <div class="rounded-lg movil:w-[97px] w-full h-[46px] bg-[#F93245] flex justify-center items-center">
          <i class="fa-solid fa-power-off fa-lg" style="color: #ffffff"></i>
        </div>
      </div>
      <!-- Selección Asistentes -->
      <div class="mt-4">
        <h4 class="text-[#545454] font-bold">Asistentes</h4>
        <div class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
          <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
          <p class="ml-4 font-bold text-[#171717]">Andrés Ospina</p>
        </div>
        <div class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
          <i class="fa-solid fa-user-group" style="color: #cfcfcf"></i>
          <p class="ml-4 font-bold text-[#171717]">Sebastián Corrales</p>
        </div>
        <div class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
          <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
          <p class="ml-4 font-bold text-[#171717]">Alejandra Botero</p>
        </div>
        <div class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
          <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
          <p class="ml-4 font-bold text-[#171717]">Dayana Orrego</p>
        </div>
        <div class="flex items-center w-full h-[46px] mt-4 rounded-md px-4 bg-white shadow-[0px 3px 20px #00000008]">
          <i class="fa-solid fa-user fa-lg" style="color: #44a18f"></i>
          <p class="ml-4 font-bold text-[#171717]">Dayana Orrego</p>
        </div>
        <!-- btn agregar personas -->
        <div>
          <button
            class="rounded-md bg-[#16151E] w-full h-[55px] flex justify-center items-center gap-x-4 mt-4"
            type="submit">
            <i class="fa-solid fa-user-plus" style="color: #ffffff"></i>
            <p class="text-white">Agregar personas</p>
          </button>
        </div>
    </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button (click)="visibleR(); sidenav.toggle()" class="btn-right-movil min-tablet:hidden tablet:pt-4">
      <i class="fa-solid fa-caret-left fa-2xl"></i>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>