/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
  }

@layer utilities{

  .img-asistente{
    clip-path: inset(5% 20% 15% 10%);

  }

}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/**SideBar**/

.mat-drawer-container.mat-sidenav-container.example-container {
padding: 6px 15px;
background-color: transparent;
}