/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
  }

@layer utilities{

  .img-asistente{
    clip-path: inset(5% 20% 15% 10%);

  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* aside menu desplegable movil - codigo en los estilo generales de la web*/

.mat-drawer-transition .mat-drawer-backdrop {
  position: fixed;
}

.mat-drawer.mat-sidenav.ng-tns-c3297556376-0.ng-trigger.ng-trigger-transform.mat-drawer-over.ng-star-inserted.mat-drawer-opened {
	position: fixed;
}