/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
  }

@layer utilities{

  .img-asistente{
    clip-path: inset(5% 20% 15% 10%);

  }

}

/**Circulo Progreso**/

#progress {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}

#progress-value {
  display: block;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 20px;
}