/**SideBar**/
.mat-drawer:not(.mat-drawer-side) {
	width: 70%;
}

.example-containerR {
    position: initial;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background: blue;
}
.containerR{
  position: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.mat-drawer.mat-sidenav.ng-tns-c3297556376-1.ng-trigger.ng-trigger-transform.mat-drawer-end.mat-drawer-over.ng-star-inserted.mat-drawer-opened {
	position: fixed;
}