<div class="side-bar-left-desktop w-[154px] h-full bg-[#16151E] flex flex-col items-center pt-5 pb-2 space-y-7 text-white">
    <div id="gc" class="text-[45px] mt-[52.75]">
        <p>GC</p>
    </div>
    <div id="quorum" class="text-[11px]">
        <p class="text-center mb-4">QUORUM</p>
        <div>
            <circuloprogreso-navbar/>
        </div>
    </div>
    <div id="logout" class="text-white fixed bottom-4 bg-[#1F1E27] w-[72px] h-[72px] flex items-center justify-center rounded-2">
        <i class="fa-solid fa-arrow-right-from-bracket text-xl" style="color: #79797B"></i>
    </div>
</div>